
$color-y:#cfab29;
$colorf:#fff;
$color9:#999;
$color6:#666;
$color3:#333;
$color0:#000;
$colorfa:#fafafa;
body{ background: #000; overflow-x: hidden; overflow-y:auto; width: 100%;color:$colorf;font-size:14px; font-family:"MicrosoftYaHei"; line-height:1.5;}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,li,ol,p,ul{margin:0;padding:0;}
li,ol,ul{list-style:none;}
img{max-width:100%;border:none;}
a{ color: $color3;}
a:hover{ text-decoration: none;  color:$color-y;}
input,textarea,select,*{ outline: none;}
.text-center{ text-align: center;}
.text-left{ text-align: left}
.text-right{ text-align: right}
.nowarp{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.line2,.line4,.line3{text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;}
.line3{-webkit-line-clamp: 3;line-clamp: 3;}
.line4{-webkit-line-clamp: 4;line-clamp: 4;}
.flex{ display: flex; flex-wrap: wrap; }
.flex-center{align-items: center;justify-content: center}
.hidden{ display: none;}
.w100{ width: 100%; max-height: 100%}
.maxh100{ max-height: 100%}
.color-y{ color: $color-y}
.fon24{ font-size: 24px;}
.fon22{ font-size: 22px;}
.fon20{ font-size: 20px;}
.fon18{ font-size: 18px;}
.fon16{ font-size: 16px;}
.fon14{ font-size:14px;}
.fon12{ font-size:12px;}
.trans{ transition: .3s linear all;}
.show{ display: block !important}
.hide{ display: none !important}
.positionr{ position: relative;}
.positionb{ position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.visible-hidden{ visibility: hidden;}
.color9{ color: $color9}
.color6{ color: $color6}
.color3{ color: $color3}
.padding40{ padding-bottom: 40px; padding-top: 40px;}
.overflow-hidden{ overflow: hidden;}
.color-org{ color: $color-y}
.fon-arial{ font-family: Arial, Helvetica, sans-serif}
.w50{ width: 50%}

/*图片翻转动画*/
.transy{ cursor: pointer;}
.transy img ,.transy i{
  transition: ease-in-out 0.3s;
}
.transy:hover img,.transy:hover i {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
/*图片放大*/
.scale{ overflow: hidden;}
.scale img,.scale .scales div{transition: .5s linear all; }
.scale:hover img,.scale:hover .scales div{  transform: scale(1.1);}
.swiper-slide{ cursor: pointer;}
/*header*/

.flex-nowarp{ flex-wrap: nowrap}
.header{
  justify-content: space-between;  height: 100px; flex-wrap: nowrap; background: $color0; padding: 0 15px; position: relative; width: 100%;  font-size: 16px; 
  .navlist{ justify-content: flex-end;
  }
  nav{ align-items: center;}

  a{ color:$colorf;}
  .search-close{ padding: 0 15px; cursor: pointer; font-size:24px; margin-top: -5px;}
  .search-form{ align-items: center; justify-content: space-between; flex-wrap: nowrap; padding: 0 0 0 15px; display: none}
  .search-show{ display: flex; width: 80%}
  .search-txt{ width: 100%; border: 0;}
  .btn-search{ font-size: 0; width: 18px; height: 18px; border: 0; background: url(../images/icon-search.png) no-repeat center;;}
}
.header.fix{ position: fixed; left: 0; top: 0; width: 100%; z-index: 4; }
.header.bgf{ background:$color0}

/*header*/
.logo{ font-size: 26px; text-transform: uppercase} 
.max1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  height: auto;
  min-height: 100px;
}
.headers1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.page{ height: 100vh;}
  #page.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%; height: 100%; position: relative;
  }
  .swiper-container-vertical>.swiper-pagination-bullets{ right: 20px;}
  #fullpage{
    .swiper-pagination-bullet{ border: 1px solid #777; background: none; opacity: 1; position: relative;}
    .swiper-pagination-bullet-active{ border: 1px solid #777; background: none;} 
    .swiper-pagination-bullet-active::after{ position: absolute; width: 18px; height: 18px; border: 1px solid #fff; position: absolute;  content: '';  display: block; border-radius: 50%; left: -6px; top: -6px;}
  }
  .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 20px 0;
  }
  .swiper-container-banner{ height: 100%; width: 100%;
    .swiper-slide{ width: 100%;}
    .pc-banner,.phone-banner{ width: 100%; height: 100%;}

  }
  .swiper-pagination-banner{
    .swiper-pagination-bullet{ width: 30px; height: 2px; border-radius: 0; opacity: .3; background:$colorf;}
    .swiper-pagination-bullet-active{ opacity: 1;}
  }

  .about{
    .about-img{
       border-left: 10px solid $color-y;
       border-top: 10px solid $color-y
    }
    .about-p{ line-height: 2.1; text-align: center}
    .yinhao{ font-size: 100px; color:$color6; line-height: 20px;}
    .nowarps{ white-space: nowrap;}
    .about-desc{ margin-top: 10px; line-height: 1.8}
    .about-txt{ position: absolute; font-size: 200px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; color: #1f1f1f;  top: -30px; left: 0; }
  }
  .video{
    .title{ font-size: 22px; position: relative; text-align: center}
    .title::after{ display: block; width: 40px; content: ''; border-bottom: 1px solid $colorf; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%);}
    .video-con{ margin: 20px auto;}
  }
  .more{ display: block; width: 200px; height: 30px; margin: 0 auto; color: $colorf}
  .more{ 
    border-bottom: 2px solid $colorf;
   span{ display: block;}
  }
  .more-margin0{ margin: 50px 0 0 0 ;}
  .title-changp{ font-size: 100px; position: absolute; left: 0; top: -30px; text-transform: uppercase; color: #1f1f1f; }
  .changpian{ 
    color: $color3;
    .changpian-list{
      display: flex;
      li{ width: 33.3333%}
      li:nth-child(2){ display: flex; flex-wrap: wrap-reverse;}
      .changpian-name{ padding: 20px 0;}
    }
  }
  .padding25{ padding: 25px;}
  .bgf{ background: $colorf}
  .w40{ width: 40%;}
  .w60{ width: 60%}

  .song{
    .song-tab a{ display: inline-block; width: 130px; height: 35px; line-height: 35px; background: $colorf; color: $color3; text-align: center; margin-right: 10px;}
    .song-tab a:hover,a.cur{ background: #ff980f; color: $colorf;}
    .song-list{ padding: 30px 0 0 0 ;
      ul{ justify-content: space-between;}
      ul li{ width: 18%}
    }
    .song-txt{ padding: 5px 0 10px ; border-bottom: 1px solid $color3}
  }
  .contact{
      align-content:space-around; justify-content: center; background: url(../images/contact-us-bg.jpg) no-repeat center; background-size: cover;
    .copy-right{ position: absolute; width: 100%; text-align: center; bottom: 10px;}
    .contact-p1{ font-size: 60px; text-transform: uppercase;}
    .contact-p2{ font-size: 30px; position: relative;}
    .contact-p2::after{ display: block; content: ''; width: 40px; border-bottom: 1px solid $colorf; bottom: -5px; margin: 0 auto;}
    .padding20{ padding: 20px 0; line-height: 2}
    .paddingt100{ padding-top: 100px;}
  }
 
  // 写真
  .paddingt100{ padding-top: 100px;}
.xiezhen{
  .xiezhen-list{ justify-content: space-between;}
  li{ width: 48%; margin: 30px 0;}
}

@media screen and (max-width: 991px) {
  .logo,
  .pc-nav {
    width: 100% !important;
  }
}

@media screen and (max-width:767px) {
  .logo {
    font-size: 20px;  
  }
  .header {
    min-height: 50px;
  }
}
@media (max-width:1024px){
  .header .navlist li a.menu{ font-size: 14px;}
  .title-main{
    .main-title-en{ font-size: 100px;}
    .main-title-ch{ font-size: 24px; padding: 5px 0}
  }
}
@media (min-width: 768px) {
  .header{
    padding:  0 10px 0 15px;
    .navlist{
      li{ padding: 0 10px; height: 100px;}
      li a.menu{height: 100%; display: block; line-height: 98px;}
      li:hover a.menu,li.cur a.menu{  color: $color-y  }
      li:last-child{ position: relative;}
      li:last-child::after{ display: block; content: ''; position: absolute; left: 0; top: 50%; height: 14px; border-left: 1px solid #fff;  transform: translateY(-50%)}
    }
  }
}

@media (min-width: 992px) {
  .header{
    padding: 0 20px 0 40px;
    .navlist{
      li{ padding: 0 15px}
    }
  }
}
@media (min-width: 1200px) {
  .container{ width: 1200px;}
  .header{
    padding: 0 30px 0 60px;
    .navlist{
      li{ padding: 0 25px}
    }
  
  }
}

