$color-org:#ff980f;
$color-y:#cfab29;
$colorf:#fff;
$color9:#999;
$color6:#666;
$color3:#333;
$color0:#000;
$colorfa:#fafafa;
@media (max-width:767px){
  .fon22{ font-size: 18px;}
  .fon18{ font-size: 14px;}
  /*nav*/
  .nav-btn{ width: 35px; }
  .header{ height:50px; background: $color0}
  .margin100{ margin-top: 75px !important;}
.hamburger .line{
  width: 35px;
  height: 3px;
  background-color: $colorf;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}
#nav-btn{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(0.8)
}

#nav-btn.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-btn:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 5px solid transparent;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 
}

#nav-btn.is-active:before{
  border: 2px solid $colorf;
}

#nav-btn.is-active .line{
  width: 17px;
   background: $colorf;
  
}

#nav-btn.is-active .line:nth-child(2){
  opacity: 0;
}

#nav-btn.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#nav-btn.is-active .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(90deg);
  -ms-transform: translateY(-9px) rotate(90deg);
  -o-transform: translateY(-9px) rotate(90deg);
  transform: translateY(-9px) rotate(90deg);
}
  /*nav-mobile*/
  .eng-btn{ position: fixed; z-index: 3; left: 20px;; top: 15px;}
  .nav-btn{ position: fixed; z-index: 5; right: 10px; top: 4px}
  .nav-mobile.active{ transform: translate(0); }
  .nav-mobile{ position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, .9); color: $color9; left: 0; top: 0; padding-top: 80px; z-index: 4; transform: translateX(100%); transition: .2s linear all;
   a{ color:$color9}
   li:first-child{ border-top:1px solid rgba(224, 208, 208, 0.3);}
   .nav-top{line-height: 50px; border-bottom:1px solid rgba(224, 208, 208, 0.3); padding-left: 15px;}
   li span{ display: block; width: 40px; text-align: center; float: right; border-left: 1px solid rgba(255, 255, 255, .1); cursor: pointer;}
  }
  dl{  font-size: 14px; display: none;
   dd{line-height:40px;}
   dd a{padding-left: 25px; display: block; border-bottom: 1px solid rgba(255, 255, 255, .3) }
  }
  .footer{
   padding: 10px ;
  } 

  // index
  .w50,.w40,.w60{ width: 100%}
  .about{
    .about-img{
       border-left: 0;
       border-top: 0;
       text-align: center;
       img{ max-width: 200px; margin: 0 auto; border: 5px solid $color-y}
    }
    .about-desc{ text-align: center;}
  }
  .padding25{ padding: 5px;}

  .changpian {
    .changpian-list{ flex-wrap: wrap;}
    .changpian-list li{ width: 100%; display: none;}
    .changpian-list li:nth-child(2),.changpian-list li:nth-child(1){ display: flex; flex-wrap: nowrap}
 
    .swiper-slide{ width: 100%; height: 100%;}
  }
  .song {
    .song-list{ padding: 10px 0 0 0 ;}
    .song-list ul li{ width: 46%; margin-bottom: 20px;}
    .song-list ul li:last-child{ display: none;}
    .song-list ul li:hover .song-hover{ width: 218%}
    .song-list.song-list-4 ul li:last-child{ display: block;}
    .song-list ul li:nth-child(2n) .song-hover{left:  auto; right:0;}
    
  }
  .more-margin0{ margin-top: 10px;}
  .contact .contact-p1{ font-size: 40px}
  // end index

  // 写真
  .paddingt100{ padding-top: 55px;}
  .fon24{ font-size: 18px;}
  .xiezhen {
    li{  width: 100%; margin: 15px 0;}
  }
  // news
  .main-con{ padding-top: 55px;}

  .box-zhuanji {
    li{ width: 45%;margin-bottom: 20px;}
   .zhuanji-list{ justify-content: space-around}
  }
  .video-type {
    .w48{ width: 100%; margin-bottom: 20px; padding-bottom: 10px;}
  }
  .box-video {
    .video-name{ font-size: 16px;}
    .video-year{ font-size: 25px;}
  }
  .height120{ padding-bottom: 30px;}

  // 播放
  .player-desc{ padding-left: 0;}
  
}